html {
    background: url(../images/background.jpg) no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
}

/* body {
    font-family: 'Kaushan Script', cursive, sans-serif;
} */

header {
    display: flex;
    justify-content: center;
}

h1 {
    color: white;
    font-size: 100px;
    font-family: 'Kaushan Script', cursive, sans-serif;
}

.fieldSet {
    background-color: white;
}

.entries {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 150px;
}

form {
    width: 40%;
}
.entryData{
    display: flex;
    flex-wrap: wrap;
}

p {
    color: white;
    font-size: 20px;
    font-family: 'Kaushan Script', cursive, sans-serif;
}

.entry {
    border: solid white 3px;
    background-color: black;
    width: 300px;
    margin-left: 20px;
}