html {
    background: url(../images/background.jpg) no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Kaushan Script', cursive, sans-serif;
}

body {
    margin: 0;
}

header {
    background: linear-gradient( 45deg, black, transparent, black);
    display: flex;
    justify-content: center;
}

h1 {
    color: white;
    font-size: 100px;
}

h3 {
    color: aqua;
    font-size: xx-large;
}

.fieldSet {
    background: radial-gradient(circle, rgba(174, 238, 238, 0.7063200280112045) 0%, rgba(0, 0, 0, 1) 100%);
    width: 30rem;
    margin: 0.5rem 0;
    font-size: 1rem;
    line-height: 1.5;
}

.entries {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}

.entryData {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
}

p {
    color: white;
    font-size: 20px;
}

.entry {
    background: radial-gradient(circle, rgba(174, 238, 238, 0.7063200280112045) 0%, rgba(0, 0, 0, 1) 100%);
    width: 300px;
    margin-left: 20px;
}

.sortMood {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    background: radial-gradient(circle, rgba(174, 238, 238, 0.7063200280112045) 0%, rgba(0, 0, 0, 1) 100%);
    color: white;
    margin-top: 10px;
}

#moodSelection {
    margin-left: 10px;
}

/* buttons */

.entryButtons {
    margin-top: 5px;
}

/* entry input fields */

.newPost {
    margin: 0 25%;
}

.newPost__input {
    width: 30rem;
    margin: 0.5rem 0;
    font-size: 1rem;
    line-height: 1.5;
}

.newPost__description {
    width: 100%;
    height: 5em;
    font-size: 1rem;
    line-height: 1.5;
}

/* dropdown list */

.box select {
    background: radial-gradient(circle, rgba(174, 238, 238, 0.7063200280112045) 0%, rgba(0, 0, 0, 1) 100%);
    background-color: grey;
    color: white;
    padding: 12px;
    width: 250px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}

.box::before {
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
}

.box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
    padding: 30px;
}